.feedback-card {
    border: 1px solid #1032A3;
    border-radius: 20px;
    background-color: white;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.feedback-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar-circle {
    width: 40px;
    height: 40px;
    background-color: #0E2CA4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-meta-info {
    display: flex;
}

.feedback-author {
    color: #0E2CA4;
    margin-right: 5px;
    font-size: 24px;
    line-height: 0.85;
}

.feedback-stars-and-date {
    display: flex;
    align-items: flex-end;
    gap: 12px;
}

.product-feedback-date {
    font-size: 14px;
    color: #BDBDBD;
    margin: 0;
    padding: 0;
    line-height: 0.85;
    display: flex;
    align-items: center;
}

.feed-stars {
    display: flex;
    align-items: flex-end;
    gap: 2px;
}

.feedback-info {
    display: flex;
    align-items: flex-end;
}

.feed-stars img {
    width: 15px;
    height: 15px;
    display: block;
}

.admin-reply {
    margin-left: 115px;
    margin-top: 0;
}

.admin-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
}

.admin-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0;
}

.name-and-date {
    display: block;
}

.name {
    color: #0E2CA4;
    font-weight: 500;
    font-size: 25px;
}

.date {
    color: #AEBED2;
    font-size: 15px;
}

.review-text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 55px;
    color: #0E2CA4;
    font-size: 20px;
}

.feedback-action-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #E2E8F0;
}

.feedback-to-product-btn {
    background: transparent;
    color: #0E2CA4;
    border: 1px solid #0E2CA4;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s;
}

.feedback-delete-btn {
    background: transparent;
    color: #EF4444;
    border: 1px solid #EF4444;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s;
}

@media (max-width: 768px) {

    .feedback-card {
        padding: 15px;
        border-radius: 15px;
        gap: 8px;
    }

    .feedback-header {
        display: flex;
    }

    .feedback-author {
        margin-right: 5px;
        font-size: 20px;
    }

    .feed-stars {
        display: flex;
        justify-content: flex-start;
        gap: 1px;
    }

    .review-text {
        font-size: 15px;
        margin-left: 40px;
        margin-top: 0;
    }

    .admin-reply {
        margin-left: 15px;
        padding-left: 15px;
    }

    .name {
        font-size: 18px;
    }

    .feedback-meta-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .product-feedback-date {
        font-size: 12px;
    }

    .feedback-action-block {
        margin-top: 10px;
        padding-top: 15px;
    }

    .feedback-to-product-btn {
        padding: 8px 10px;
        font-size: 12px;
    }

    .feedback-delete-btn {
        padding: 8px 10px;
        font-size: 12px;
    }

}
