
.forgot-modal-content {
    display: flex;
    flex-direction: column;
    background: white;

    padding: 40px 40px 40px 40px;
    border-radius: 16px;
    width: 100%;
    max-width: 660px;
    /*max-height: 444px;*/
    text-align: center;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.3s ease;
}


.forgot-close-bnt {
    display: flex;
    justify-content: end;
}

.close-btn-img {
    border: none;
    background: transparent;
}

.forgot-modal-title {
    font-size: 36px;
    color: #061F7C;
    margin-top: 10px;
    margin-bottom: 20px;
}

.forgot-modal-text {
    font-size: 24px;
    color: #0E2CA4;
    margin: 0 0  0 5%;
    text-align: start;

}

.forgot-form {
    width: 100%;
}

.forgot-form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.forgot-input-group {
    width: 100%;
}

.forgot-checkout-input {
    width: 90%;
    height: 60px;
    background: #FCF9EC;
    border: 1px solid #061F7C;
    border-radius: 20px;
    color: #0E2CA4;

    font-size: 24px;
    font-weight: 400;
    padding-left: 20px;

    box-sizing: border-box;
}

.forgot-checkout-input::placeholder {
    color: #7B8CC6;
    font-size: 24px;
    font-weight: 400;
}

.forgot-btn-wrapper {
    width: 100%;
}

.forgot-btn {
    background-color: #0E2CA4;
    color: white;
    border: none;
    padding: 0;
    border-radius: 20px;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    width: 70%;
    height: 60px;
    transition: background-color 0.2s;
}

.forgot-btn:hover {
    background-color: #061F7C;
}

.forgot-return-to-auth {
    background-color: transparent;
    border: none;

    font-size: 24px;
    color: #0E2CA4;
    padding: 0;
}

.forgot-return-to-auth:hover {
    border-bottom: 1px solid #0E2CA4;
}

.forgot-about-pass-modal-text {
    display: block; /* Робить span блочним, він переноситься на новий рядок */
    font-size: 16px;
    line-height: 1.4; /* Тепер це точно спрацює і текст буде збитим */
    color: #7B8CC6;

}

.forgot-checkout-input:-webkit-autofill,
.forgot-checkout-input:-webkit-autofill:hover,
.forgot-checkout-input:-webkit-autofill:focus,
.forgot-checkout-input:-webkit-autofill:active {

    -webkit-box-shadow: 0 0 0 100px #FCF9EC inset !important;
    -webkit-text-fill-color: #0E2CA4 !important;
    transition: background-color 5000s ease-in-out 0s;
}

.otp-step-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otp-code-input {
    width: 150px;
    text-align: center;

    letter-spacing: 2px; /* Додає відступ між літерами XXXXXX */
    font-size: 1.5rem;
    padding: 10px;

    outline: none;
}

.otp-code-input::placeholder {
    text-align: center;
    opacity: 0.5;
}

.error-text {
    color: #D32F2F;
    font-size: 14px;
    margin: 0;
}

@media (max-width: 768px) {


    .forgot-modal-content {
        padding: 20px;
        width: 100%;
        max-width: 335px;
    }


    .forgot-close-bnt {
        border: none;
        background: transparent;
    }

    .forgot-close-bnt img {
        width: 11px;
        height: 11px;
    }

    .forgot-modal-title {
        font-size: 20px;

        margin-top: 5px;
        margin-bottom: 10px;
    }

    .forgot-modal-text {
        font-size: 24px;
        margin: 0;
    }

    .forgot-form {
        width: 100%;
    }

    .forgot-form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        gap: 20px;
    }

    .forgot-modal-text {
        font-size: 14px;
    }

    .forgot-form-section {
        margin-bottom: 5px;
        gap: 13px;
    }


    .forgot-checkout-input {
        height: 33px;

        border-radius: 8px;

        font-size: 16px;
        padding-left: 20px;
        box-sizing: border-box;
    }

    .forgot-checkout-input::placeholder {
        font-size: 16px;
        font-weight: 400;
    }

    .forgot-btn {
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        width: 70%;
        height: 30px;

        margin-top: 5px;
    }

    .forgot-return-to-auth {
        font-size: 14px;
    }


    .forgot-about-pass-modal-text {
        font-size: 10px;
    }
}