
#reviews.account-tab {
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
}

.reviews-header {
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.reviews-text {
    color: #0E2CA4;
}

.exists-reviews-text {
    color: #0E2CA4;
    margin: 0;
}

.rating-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.rating-label {
    font-size: 20px;
    color: #0E2CA4;
    font-weight: 500;
}

.stars-interactive {
    display: flex;
}

.star-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.2s;
}

.star-icon:hover {
    transform: scale(1.1);
}

.feedback-save-btn {
    margin-top: 10px;
    width: 250px;
    height: 40px;
    background-color: #0E2CA4;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feedback-save-btn:hover {
    background-color: #0B2485;
}

.review-textarea {
    height: 150px;
    resize: none;
    font-family: inherit;
    color: #0E2CA4;

    width: 100%;
    max-width: 600px;

    padding: 15px 20px;
    border-radius: 20px;
    border: 1px solid #0E2CA4;

    font-size: 20px;
    background: #fff;
}

.review-textarea::placeholder {
    color: #0E2CA4;
}

.feedback-btn-block {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.exist-feedback-btn-block {
    display: flex;
    gap: 15px;
    margin-top: 17px;
}

.delete-feedback-btn {
    background: #EF4444;
    color: #fff;
}

.feedback-product-name {
    font-size: 24px;
    color: #061F7C;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .rating-label {
        font-size: 18px;
    }

    .star-icon {
        width: 20px;
        height: 20px;
    }

    .review-textarea {
        max-width: 100%;
        max-height: 100px;

        font-size: 16px;
    }

    .reviews-header {
        padding-bottom: 0;
        margin-bottom: 15px;
    }

    .reviews-text {
        font-size: 14px;
    }

    .feedback-save-btn {
        width: 60%;
        font-size: 18px;
        height: 45px;
    }

    .feedback-product-name {
        font-size: 16px;
    }
}