
.product-header {
    display: flex;
    height: 387px;
    margin-top: 33px;
    margin-bottom: 72px;
}

.product-gallery-wrapper {
    display: flex;
    gap: 20px;
    height: 387px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
}

.main-slider {
    width: 387px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.main-slider .swiper-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
}

.main-slider .swiper-slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.thumbs-slider {
    width: 86px;
    height: 100%;
    box-sizing: border-box;
}

.thumbs-slider .swiper-slide {
    width: 86px;
    height: 86px;

    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;

    transition: opacity 0.3s, border-color 0.3s;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.thumbs-slider .swiper-slide:hover {
    opacity: 1;
}

.thumbs-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.thumbs-slider .swiper-slide-thumb-active {
    border-color: #0E2CA4;
    opacity: 1;
}

.product-info {
    margin-left: 109px;
}

.product-name {
    font-size: 40px;
    color: #0E2CA4;
    font-weight: 500;
    margin: 0;
}

.product-rating-wrapper {
    margin-top: 5px;
}

.product-rating {
    margin: auto 0;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.product-stars {
    display: flex;
    align-items: flex-end;
}

.product-stars img {
    height: 25px;
    width: 25px;
    display: block;
}

.product-rating-value {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: #0E2CA4;
    font-weight: 500;
    line-height: 0.85;
}

.price-block {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.current-price {
    color: #F81818;
}

.current-price-value {
    font-size: 48px;
}

.current-price-text {
    font-size: 32px;
}

.old-price {
    position: relative;
    display: inline-block;
    color: #A49F9F;
}

.old-price-value {
    font-size: 32px;
}

.old-price-text {
    font-size: 24px;
}

.old-price::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #A49F9F;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
}

.product-status-row {
    display: flex;
    gap: 45px;
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;
}

.init-measure {
    color: #0E2CA4;
    font-size: 24px;
}

.availability {
    width: 304px;
    color: #29a10e;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

.out-of-stock {
    color: #F81818;
}

.btn-wishlist-desktop {
    background: none;
    width: 400px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #0E2CA4;
    font-size: 25px;
    font-weight: 500;
    font-family: inherit;
    padding: 0;
    transition: opacity 0.3s;
}

.btn-wishlist-desktop img {
    width: 25px;
    height: 25px;
}

.btn-wishlist-mobile {
    display: none;
}


.product-buttons-row {
    display: flex;
    gap: 45px;
}

.btn-cart-primary,
.btn-one-click {
    height: 68px;
    border-radius: 20px;
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0 30px;
    transition: all 0.3s ease;
}

.btn-cart-primary {
    width: 304px;
    background-color: #0E2CA4;
    color: white;
    border: none;
}

.btn-cart-primary:hover {
    background-color: #0B2485;
}

.btn-one-click {
    width: 400px;
    background-color: transparent;
    color: #0E2CA4;
    border: 2px solid #0E2CA4;
}

.btn-one-click:hover {
    background-color: #eef2ff;
}

.product-tabs-section {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 100%;
}

.tabs-header {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 40px 0;
}

.tab-btn {
    background: none;
    border: none;
    font-family: inherit;
    font-size: 28px;
    color: #AEBED2;
    padding-bottom: 10px;
    border-bottom: 2px solid #AEBED2;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab-btn.active {
    color: #0E2CA4;
    font-weight: 600;
    border-bottom: 3px solid #0E2CA4;
}

.tab-btn:hover {
    color: #0E2CA4;
}

.tabs-content {
    max-width: 1200px;
    margin: 0 auto;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-text {
    font-size: 20px;
    line-height: 1.6;
    color: #0E2CA4;
    margin-bottom: 15px;
    text-align: left;
}

.mobile-accordion-btn {
    display: none;
}

.char-list {
    list-style: none;
    padding: 0;
}

.char-list li {
    font-size: 20px;
    color: #0E2CA4;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

@media (max-width: 768px) {

    .product-header {
        flex-direction: column;
        gap: 20px;
        margin-top: 10px;
        margin-bottom: 40px;
        min-width: 100%;
        height: auto;
    }

    .product-gallery-wrapper {
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 0;
    }

    .main-image-container {
        height: auto;
        max-height: 258px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 12px;
        overflow: hidden;
    }

    .main-slider {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .thumbs-slider {
        width: 100%;
        height: auto;
        margin-top: 10px;
        order: 2;
    }

    .thumbs-slider .swiper-wrapper {
        display: flex;
        flex-direction: row !important;
        gap: 5px;
        justify-content: start;
    }

    .thumbs-slider .swiper-slide {
        width: 100%;
        height: auto;
        margin: 0;
        aspect-ratio: 1 / 1;
        opacity: 0.5;
    }

    .thumbs-slider .swiper-slide-thumb-active {
        opacity: 1;
        border: 2px solid #0E2CA4;
    }

    .product-info {
        width: 100%;
        padding: 0 5px;
        margin: 0;
    }

    .product-name {
        font-size: 20px;
        line-height: 1.3;
    }

    .product-code {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .product-rating {
        align-items: end;
        margin-bottom: 10px;
    }

    .product-stars img {
        height: 14px;
        width: 14px;
    }

    .product-rating-value {
        font-size: 14px;
    }

    .price-block {
        display: flex;
        align-items: center;

        margin-top: 10px;
        gap: 15px;
    }

    .current-price-text {
        font-size: 20px;
    }

    .current-price-value {
        font-size: 28px;
    }

    .old-price-text {
        font-size: 16px;
    }

    .old-price-value {
        font-size: 20px;
    }

    .old-price::after {
        top: 50%;
    }

    .init-measure {
        font-size: 14px;
    }

    .product-status-row {
        display: flex;
        justify-content: space-between;
        gap: 0;
        margin: 10px 0;
    }

    .availability {
        width: 48%;
    }

    .product-actions {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .btn-wishlist-desktop {
        display: none;
    }

    .btn-wishlist-mobile {
        display: block;
        background: transparent;
        border: none;
    }

    .btn-wishlist-mobile img {
        height: 20px;
    }

    .availability {
        font-size: 20px;
    }

    .btn-cart-primary,
    .btn-one-click {
        width: 48%;
        justify-content: center;
        height: 40px;
        font-size: 14px;
        border-radius: 10px;
        gap: 5px;
        padding: 0 5px;
    }

    .btn-one-click {
        border: 1px solid #0E2CA4;
    }

    .btn-cart-primary img,
    .btn-one-click  img{
        width: 18px;
        height: 14px;
    }

    .btn-one-click:hover {
        background-color: transparent;
    }

    .product-buttons-row {
        display: flex;
        justify-content: space-between;
        gap: 0;
    }

    .product-tabs-section {
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .tabs-header {
        display: none;
    }

    .mobile-accordion-btn {
        display: block;
        width: 100%;
        text-align: left;
        background: none;
        border: none;
        padding: 15px 0;
        font-size: 20px;
        font-weight: 500;
        color: #AEBED2;
        position: relative;
    }

    .mobile-accordion-btn span {
        color: #AEBED2;
        font-weight: bold;
        border-bottom: 1px solid #E0E0E0;
    }

    .mobile-accordion-btn::after {
        position: absolute;
        right: 0;
        font-size: 24px;
    }

    .mobile-accordion-btn.active span {
        color: #0E2CA4;
        font-weight: bold;
        border-bottom: 1px solid #0E2CA4;
    }

    .tab-pane {
        display: block;
        margin-bottom: 0;
    }

    .tab-text {
        display: none;
        padding: 0;
        font-size: 16px;
        line-height: 1.5;
    }

    .tab-pane.active .tab-text {
        display: block;
    }

    .char-list {
        margin-top: 10px;
    }

    .char-list li {
        font-size: 16px;
        color: #0E2CA4;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
    }

    .review-form {
        padding-top: 15px;
    }

    .form-row {
        flex-direction: column;
        gap: 15px;
    }

    .form-group {
        width: 100%;
    }

    .other-product {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    body, html {
        overflow-x: hidden;
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

