.feedbacks-section {
    margin-bottom: 53px;
}

.feedbacks-grid {
    margin-top: 17px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.main-page-feedback-card {
    width: 290px;
    border: 1px solid #1032A3;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feedback-name {
    font-size: 20px;
    font-weight: 600;
    color: #1032A3;
}

.feedback-stars {
    display: flex;
    gap: 2px;

    height: 15px;
    width: 15px;
    color: #F0D051;
    letter-spacing: 2px;
}

.feedback-date {
    font-size: 14px;
    color: #BDBDBD;
    margin-bottom: 5px;
}

.feedback-text {
    font-size: 20px;
    color: #1032A3;
    line-height: 1.4;
    margin: 0;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.4em;
}

.feedbacks-actions {
    display: flex;
    justify-content: center;
}

.btn-all-feedbacks {

    justify-content: center;
    display: flex;
    align-items: center;

    width: 146px;
    height: 40px;

    background: transparent;
    border: 2px solid #EBC64D;
    border-radius: 12px;


    font-size: 18px;
    font-weight: 500;
    color: #1032A3;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-all-feedbacks:hover {
    background-color: #FFF8E1;
}

@media (max-width: 768px) {
    .feedbacks-section {
        margin-bottom: 30px;
    }

    .feedbacks-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        flex-wrap: wrap;
    }

    .main-page-feedback-card {
        width: 160px !important;
        border: 1px solid #1032A3;
        border-radius: 20px;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .feedback-name {
        font-size: 16px;
        margin-right: 10px;
    }

    .feedback-stars {
        display: flex;
        align-items: center;
        gap: 0;
        margin: 0;
    }

    .feedback-stars img {
        height: 10px;
        width: 10px;
    }

    .feedback-date {
        font-size: 10px;
    }

    .feedback-text {
        font-size: 12px;
    }

    .btn-all-feedbacks {
        font-size: 16px;
        width: 150px;

    }
}